/*css document*/
@charset "utf-8";

@mixin clearDefault ($width, $height) {
  padding: 0px;
  margin: 0px;
  width: $width;
  height: $height;
}

html, body {
  @include clearDefault(100%, 100%);
}

.playWnd {
  margin: 50px 0 0 100px;
  width: 600px;
  height: 400px;
  border: 1px solid red;
}
.cbInfoDiv {
  float: left;
  width: 500px;
  margin-left: 16px;
  border:1px solid #7F9DB9;
}
.cbInfo {
  height: 200px;
  padding: 5px;
  border: 1px solid #7F9DB9;
  overflow: auto;
  word-break: break-all;
}
.operate {
  margin-top: 24px;
}
.operate::after {
  content: '';
  display: block;
  clear: both;
}
.operate .btns {
  height: 32px;
}
.module {
  float: left;
  width: 380px;
  min-height: 320px;
  margin-left: 16px;
  padding: 16px 8px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
}
.module .item {
  margin-bottom: 4px;
}
.module .label {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  text-align: right;
}
.module input[type="text"],
.module select {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  width: 190px;
  min-height: 20px;
}
.module .btn {
  min-width: 80px;
  min-height: 24px;
  margin-top: 16px;
  margin-left: 158px;
}