/*css document*/
@charset "utf-8";

@mixin clearDefault ($width, $height) {
  padding: 0px;
  margin: 0px;
  width: $width;
  height: $height;
}

html, body {
  @include clearDefault(100%, 100%);
  overflow: hidden;
}

.dahua_ocx {
  @include clearDefault(100%, 300px);
}

.control_panel {
  @include clearDefault(100%, 300px);
  .button_area, .xml_area {
    height: 100%;
    width: 49%;
    float: left;
  }
  .button_area .xml_content {
    overflow: auto;
  }


}